body {
    background-color: #1C1C1D;
    color: #fff;
}

/* .contentAdmin {
    width: 100vw;
    margin: 10px 30px;
} */

/*sidebar*/
/* nav {
    width: 15%;

}

nav .sidebar {
    width: 100%;
}

nav .sidebar .card {
    width: 100%;
    box-shadow: 0 3px 10px #00AAFF;
    border: none;
    background-color: #252728;
    color: #fff;
}

nav .card {
    background-color: #252728;
    margin: 30px;
    box-shadow: 0 3px 10px #00AAFF;
    border: none;
}

nav .card .logo .img-logo {
    width: 50px;
    height: 50px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #00AAFF;
}

nav .card .logo .img-logo img {
    height: 100%;
    object-fit: cover;
}

nav .card .logo h5 {
    color: #fff;
}




.contentAdmin .card {
    width: 100%;
    box-shadow: 0 3px 10px #00AAFF;
    border: none;
    background-color: #252728;
    color: #fff;
}

.contentAdmin .card .navi button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 3px solid #00AAFF;
    border-radius: 50%;
}

.contentAdmin .card .navi button i {
    font-size: 21px;
    color: #00AAFF;
}

.contentAdmin .card .navi .info-admin {
    border: 3px solid #00AAFF;
    background-color: transparent;
    height: 70px;
    padding: 5px;

}


.contentAdmin .card .navi .info-admin img {
    width: auto;
    height: 100%;
    border: 3px solid #00AAFF;
    border-radius: 50%;
    margin: 0 5px;
}

.contentAdmin .card .navi .info-admin h5 {
    color: #00AAFF;
    margin: 0 10px;
} */