.text-container {
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    color: #6305D3;
    border: 2px; /* Đặt viền đen dày 2px */
    background-color: #f9f9f9; /* Màu nền của khung */
    width: 70%px; /* Đặt chiều rộng khung */
    height: 50px;
    box-shadow: 0 5px 10px #6305D3;
    position: relative;
}

.notification-item {
    border-bottom: 2px solid #6305D3;
    padding: 5px 0;
    transition: background-color 0.3s ease;
}

    .notification-item:hover {
        background-color: rgba(128, 0, 128, 0.2);
    }


.notification-button {
    border: none;
    background: none;
    text-align: left;
    width: 100%;
    font-size: 15px;
    padding-left: 50px;
    cursor: pointer;
}

​12:27/-strong/-heart: > :o:-((:-h Xem trước khi gửiThả Files vào đây để xem lại trước khi gửi
