.advan {
    width: 20%;
}

.content-noti {
    width: 80%;
}

    .content-noti .card {
        border: none;
    }

        .content-noti .card .card-header {
            background-color: #fff;
            /* border: 1px solid #6305D3; */
            border-radius: 10px;
            box-shadow: 0 5px 10px #6305D3;
        }


            .content-noti .card .card-header h3 {
                margin: 5px 0 5px 0;
                font-weight: 700;
                color: #6305D3;
            }

        .content-noti .card .card-body {
            box-shadow: 0 5px 10px #6305D3;
            border-radius: 10px;
            margin: 30px 0;
            /* position: relative; */
            overflow: hidden;
        }

            .content-noti .card .card-body .accordion .accordion-header .accordion-button {
                width: 100%;
                font-size: 16px;
            }

            .content-noti .card .card-body .accordion-item {
                border: 1px solid #6305D3;
                overflow: hidden;
            }


    .content-noti .card-body .accordion-item .accordion-button:not(.collapsed) {
        box-shadow: 0 5px 15px #6305D3;
        background-color: #fff;
        font-weight: 700;
        color: #6305D3;
        font-size: 18px;
    }

    .content-noti .card-body .accordion-item .accordion-button .title {
        width: 75%;
    }
