
.row-title-container {
    width: 100%;
    height: 470px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

.Title {
    font-size: 21px;
    font-weight: bold;
    color: yellow;
    margin-left: 40%;
}

.title-info {
    display: flex;
    color: wheat;
    font-weight: bold;
    background-color: var(--border-color);
    width: 500px;
    height: 40px;
    gap: 55px;
    padding: 10px;
}

.noi-dung-info {
    display: flex;
    color: white;
    font-weight: bold;
    width: 500px;
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid #fff;
}

.label14-id {
    margin-left: 20px;
}

.label15-username {
    margin-left: 22%;
}

.label16-report {
    margin-left: 30%;
}

.button-report {
    margin-left: 90px;
    border-radius: 10px;
    font-weight: bold;
    background-color: var(--card-color);
    border: 3px solid var(--border-color);
    border-radius: 0 5px 5px 0;
    color: var(--title-color);
}

    .button-report:hover {
        background-color: #004040;
        color: #fff;
    }

/*.hidden {
    display: none !important;
  }
  
  .message-info {
    position: absolute;*/ /* Đặt popup trong hàng tương ứng */
/*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3C2F58;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }*/


.popup-container {
    text-align: center;
}

.button-confirm,
.button-cancel {
    margin: 10px;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: #004040;
    cursor: pointer;
}

    .button-confirm:hover {
        background-color: lightblue;
    }

    .button-cancel:hover {
        background-color: lightblue;
    }

.success-message {
    color: wheat;
    font-weight: bold;
    margin-top: 10px;
}
